*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #ffb48a;
    color: #000000;
}

.container{
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #5d2417;
    height: 80px;
}

a{
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: #5d2417;
    justify-content: center;

}

ul{
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

h1{
    display: flex;
    justify-content: center;

}

@media screen and (max-width: 600px) {
    .container{
        height: 70px;
    }
}

img{
    height: 600px;
    width: 1220px;
    border-radius: 30px;
}

.ImagemAlimento{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 2%;
}

.manual{
    margin-left: 100px;
}

